.feature-item {
  flex: 1;
  padding: 2.5rem;

  img {
    width: 100px;
    border: 10px solid $colour-primary;
    border-radius: 50%;
    padding: 1rem;
  }

  h3 {
    color: $colour-text;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
