html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Avenir, 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $colour-text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

// custom scrollbar
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: $radius;
  background: $colour-primary;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 188, 120, 0.8);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

input {
  font-size: 1.2rem;
  padding: 7px;
  transition: $transition;
}

button {
  cursor: pointer;
  border: none;
  background-color: $colour-primary;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 8px;
  transition: $transition;

  &.errorButton {
    background-color: red;
  }

  &:hover {
    opacity: 0.9;
  }
}

.errorText {
  transition: 0.4s;
  color: red;
  margin: 0;

  &.hide {
    display: none;
  }
}
