/* - Colors - */
$colour-primary: #00bc78;
$colour-link: #2c3e50;
$colour-text: #222222;
$colour-bgDark: #12002b;

/* - Radius - */
$radius: 5px;

/* - Transitions - */
$transition: 0.2s;

/* - Breakpoints - */
$break-laptot: 920px;
$break-tablet: 720px;
