#Error404 {
  overflow: hidden;
  position: relative;
  background-color: $colour-bgDark;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  .deco404 {
    position: absolute;
    font-size: 100vh;
    color: $colour-primary;
    font-weight: bold;
    opacity: 0.2;
  }

  h1 {
    text-align: center;
    font-size: 100px;
    margin: 0.2em;

    span {
      color: $colour-primary;
    }
  }

  h1,
  h2 {
    z-index: 1;
  }
}
